@import "nav_bar.css";
@import "login.css";
@import "footer.css";
@import "form.css";

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  } 
  body, html{
    background: #f2f2f2;
    height: 100%;
  }
  
.mid_break{
    height: 150px;
    width: 100%;
}

.nav-items li .active{
    color: blue;
}
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/tumblr_muxmblJGFH1rg4i4eo1_500.gif.crdownload");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  font-style: italic;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text h1 {
  position: absolute;
  font-size: 30px;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text p{
    position: absolute;
    font-size: 50px;
    top: 44%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: white;
}

.small_break{
  width: 100%;
  height: 10%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbutton {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.title-grid{
    font-size: 17px;
    text-align: center;
    color: blue;
}

.decs{
    font-size: 13px;
    text-align: center;
}

.img-index{
    position: relative;
    left: 38%;
    padding-bottom: 10px;
}
.row{
    position: relative;
    right: 0.4%;
}
/* Change styles for span and cancel button
on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbutton {
        width: 100%;
    }
}